/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html { 
  background: url(/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    overflow: hidden;
}
body {
    overflow: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



input {
    outline:0;
    letter-spacing: 0.5px;
    font-size:16px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h1, h2, h4, h5, p, input {
    margin: 0;
    line-height: 1.5em;
    font-family: 'Frutiger LT Std';
    font-weight: 300;
}
h1, h2, h4, h5, p {
    text-transform: uppercase;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.wrapper_home {
    width: 100%;
    overflow: hidden;
}
.frame_main {
    width: 60%;
    float: left;
    margin-left: 7.5%;
    margin-right: 5%;
}
.frame_side {
    width: 23%;
    float: right;
    padding-top: 2%;
    margin-right: 2%;
    pointer-events: none;
}
.frame_side .feedgrabbr_widget {
    margin-top: 50px;
}

.layer_top {
    padding-top: 200px;
}
.layer_top h1 {
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:24px;
}
.layer_top h2 {
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 46px;
}
.layer_form {
    margin-top: 75px;
}
.layer_form img {
    width: 100%;
}
.layer_form input[name="search"] {
    width: 100%;
    border:0;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    color:#fff;
    height: 30px;
    background: transparent;
} 
.results_list {
    width: 100%;
    
}
.result {
    overflow: hidden;
}
.result .brand {
    background: #fff;
    width: 21%;
    height: 75px;
    text-align: center; 
display: flex;
  flex-direction: column;
    justify-content: center;
    float: left;
}
.result .brand img {
    width: 80%;
    align-self: center;
}
.result .company_info {
    width: 54%;
    margin-left: 1%;
    float: left;
    background: #fff;
    height: 75px;
    overflow: hidden;
    display: flex;
  flex-direction: column;
    justify-content: center;
}
.company_info .wrapper {
    width: 85%;
    margin: 0 auto;
}
.company_info .company {
    width: 50%;
    float: left;
}
.company_info h5 {
    font-weight: bold;
    font-size: 12px;
    color:#b2b2b2;
}
.company_info p {
    font-weight: bold;
    font-size: 18px;
    color:#383838;
}
.company_info .floor {
    width: 50%;
    float: left;
}
.result .contact_btn {
    background: #383838;
    width: 24%;
    height: 75px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result .contact_btn h4 {
    color:#fff;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
}


