/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html { 
  background: url(/content/frontend/assets/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    overflow: hidden;
}
body {
    overflow: hidden;
}
div#primary_page_controller_wrapper {
    height: 100vh;
}
div#primary_page_controller_wrapper main {
    height: 100%;
}
section.home {
    height: 100%;
}
.wrapper_home {
    height: 88%;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



input {
    outline:0;
    letter-spacing: 0.5px;
    font-size:16px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h1, h2, h4, h5, p, input {
    margin: 0;
    line-height: 1.5em;
    font-family: 'Frutiger LT Std';
    font-weight: 300;
}
h1, h2, h4, h5, p {
    text-transform: uppercase;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Ticker
   ========================================================================== */
.ticker_logo {
    position: absolute;
    bottom: 12px;
    left: 20px;
    width: 350px;
    z-index: 99;
}    
.ticker_logo img {
    width: 73%;
    position: relative;
    top: -8px;
    left: 17px;
}
.ticker_clock {
        position: absolute;
    bottom: 12px;
    right: 20px;
}
.ticker{
    position: absolute !important;
    bottom: 0;
    left:-90px;
    width: calc(100% + 90px);
    z-index: 9;
    font-family: 'Frutiger LT Std';
}
* {
  box-sizing: border-box;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 10px;
  width: calc(95% - 590px);
  overflow: hidden;
  height: 3rem;
    margin: auto;
    right: 290px;
/*  background-color: rgba(0, 0, 0, 0.3);*/
  box-sizing: content-box;
    z-index: 9 !important;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.5rem;
  color: white;
}

.wrapper_home {
    width: 100%;
    overflow: hidden;
}
.frame_main {
    width: 60%;
    float: left;
    margin-left: 7.5%;
    margin-right: 5%;
    height: 100%;
}
.frame_side {
    width: 16%;
    float: right;
    padding-top: 1%;
    margin-right: 2%;
    pointer-events: none;
    height: 100%;
}

.layer_form form {
    position: relative;
}

.layer_form form .form_submit {
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: -7px;
}

.layer_top {
    padding-top: 200px;
    transition: opacity .3s;
}
.layer_top h1 {
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:24px;
}
.layer_top h2 {
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 46px;
}
.layer_form {
    margin-top: 75px;
}
.layer_form img {
    width: 100%;
}
.layer_form input[name="search"] {
    width: 100%;
    border:0;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    color:#fff;
    height: 40px;
    background: transparent;
    font-size: 20px;
    transition: padding .5s;
} 

.layer_form input[name="search"]:focus {
    padding-bottom: 20px;
}

.layer_form input[name="search"]::placeholder {
    font-size: 20px;
    opacity: .6;
}

.results_list {
    width: 100%;
    /*display: none;*/
}
.result {
    overflow: hidden;
}
.result .brand {
    background: #fff;
    width: 21%;
    height: 75px;
    text-align: center; 
display: flex;
  flex-direction: column;
    justify-content: center;
    float: left;
}
.result .brand img {
    align-self: center;
    height: 50px;
    width: auto;
}
.result .company_info {
    width: 54%;
    margin-left: 1%;
    float: left;
    background: #fff;
    height: 75px;
    overflow: hidden;
    display: flex;
  flex-direction: column;
    justify-content: center;
}
.company_info .wrapper {
    width: 85%;
    margin: 0 auto;
}
.company_info .company {
    width: 50%;
    float: left;
}
.company_info h5 {
    font-weight: bold;
    font-size: 12px;
    color:#b2b2b2;
}
.company_info p {
    font-weight: bold;
    font-size: 18px;
    color:#383838;
}
.company_info .floor {
    width: 50%;
    float: left;
}
.result .contact_btn {
    background: #2c9ec0;
    width: 24%;
    height: 75px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result .contact_btn h4 {
    color:#fff;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
}

#employee_info {
    margin-left: 0;
}

#employee_result.result .contact_btn {
    width: 23%;
}

#employee_result.result #text_btn {
    border-left: 1px solid white;
}

#employees.results_list .result:nth-child(1) {
    display: none;
}

/*============  AD SECTION  ================*/
.ads {
    display: none;
}

.ad_space {
    background: white;
    position: absolute !important;
    top: 200px;
    width: 1286px;
    height: 723px;
    left: 144px;
    z-index: 20;
}

#contactForm, .form_overlay {
    background: white;
    position: absolute !important;
    top: 364px;
    width: 1155px;
    height: 613px;
    left: 144px;
}

.form_overlay h2 {
    text-align: center;
    margin-top: 57px;
    font-size: 30px;
    margin-bottom: 50px;
}

.form_overlay input, textarea {
    border: 1px solid black;
    width: 600px;
    max-width: 600px;
    padding: 14px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    font-size: 20px;
}

.form_overlay input::placeholder, .form_overlay textarea::placeholder {
    color: black;
    font-size: 20px;
    opacity: .5;
}

.form_overlay .fa-close {
    font-size: 36px;
    position: absolute;
    top: -132px;
    right: 33px;
}

.form_overlay .button {
    width: 600px;
    background: #2c9ec0;
    margin: auto;
    display: block;
    color: white;
    padding: 19px 30px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

textarea {
    height: 100px;
}

.ad_space.slick-slider .slick-track {
    height: 723px !important;
}

.ad {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad.slick-active {
    width: 1286px !important;
    height: 723px !important;
}

.ad img {
    width: 95%;
}

.slick-dots li button:before {
    opacity: .5;
    color: white;
    content: '' !important;
    width: 13px !important;
    height: 13px !important;
    background: white;
    border-radius: 100%;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
    content: '';
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 100%;
}

.slick-dots {
    bottom: -64px !important;
}

.slick-prev, .slick-next {
    display: none !important;
}


.no_ads {
    position: absolute;
    right: 88px;
    top: 462px;
    z-index: 20;
    z-index: 20;
    color: white;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.start_page {
    padding: 100px;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 126px;
    top: 494px;
    z-index: 22;
}

.circle {
    background: white;
    opacity: .3;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    right: 178px;
    top: 540px;
}

.circle1 {
    height: 100px;
    width: 100px;
    opacity: 1;
    z-index: 21;
    transition: transform .3s;
}

.circle2 {
    height: 100px;
    width: 100px;
    -webkit-animation: scaling 2.5s infinite ease-in-out;
}

.circle3 {
    height: 100px;
    width: 100px;
    -webkit-animation: scaling_two 2.5s infinite ease-in-out;
}


@-webkit-keyframes scaling {
  0%  { -webkit-transform: scale(1); }
  20%  { opacity: .3; }
    
  100% { opacity: 0; }
  100% { -webkit-transform: scale(2.5); }
}

@-webkit-keyframes scaling_two {
  30%  { -webkit-transform: scale(1); }
  20%  { opacity: .3; }
    
  100% { opacity: 0; }
  100% { -webkit-transform: scale(2.5); }
}



.click_here {
    position: absolute;
    top: 0;
    right: 0;
    background: #000000c2;
    height: 100%;
    width: 100%;
    z-index: 12;
}



/* ==========================================================================
   Ticker
   ========================================================================== */
.ticker_logo {
    position: absolute;
    bottom: 12px;
    left: 20px;
    width: 350px;
    z-index: 99;
}    
.ticker_clock {
        position: absolute;
    bottom: 12px;
    right: 20px;
}
.ticker{
    position: absolute !important;
    bottom: 0;
    left:-90px;
    width: calc(100% + 90px);
    z-index: 9;
    font-family: 'Frutiger LT Std';
}
* {
  box-sizing: border-box;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 10px;
  width: calc(95% - 590px);
  overflow: hidden;
  height: 3rem;
    margin: auto;
    right: 290px;
/*  background-color: rgba(0, 0, 0, 0.3);*/
  box-sizing: content-box;
    z-index: 9 !important;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.5rem;
  color: white;
}

.ticker_clock canvas {
    height: 50px;
    position: relative;
    top: 23px;
}

.display-live-results .ui-widget-content{
    padding: 10px !important;
}

.ui-menu .ui-menu-item {
    font-size: 22px;
    padding: 10px !important;
}